* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.edit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.table {
  width: 80vw;
}

.productRow {
  font-size: 0.5em;
}

td {
  text-align: center;
  vertical-align: middle;
  text-align: justify;
}

.prodName,
.prodPrice {
  font-weight: 900;
}

.card-foto img {
  width: 50px;
  height: auto;
}

.far {
  font-size: 1.8em;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.form-group input {
  height: 20px;
}

#update,
#add,
#showInputs {
  width: 200px;
  height: 30px;
  margin: 5px;
  background-color: #666666;
  height: 40px;
}
#update:hover,
#add:hover,
#showInputs:hover {
  background-color: dodgerblue;
  font-weight: bold;
}

/* .admin-product-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 20px;
  border-bottom: 2px solid darkgray;
}

.card-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-height: 200px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* .card-foto img {
  width: 50px;
  height: auto;
} */

/* h6 {
  font-size: 0.5em;
}

.admin-price {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#adminProductPrice {
  font-size: 0.9em;
}

#adminProductPriceValue {
  font-size: 0.7em;
}

.productDetails {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: center;
  text-align: justify;
  font-size: 0.7em;
}

.edit {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.far {
  color: #121311;
}

.far:hover {
  color: dodgerblue;
} */
