* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.nav_menu_admin {
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #121311;
  color: #cdcdcd;
}

.edit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.table {
  width: 80vw;
}

.productRow {
  font-size: 0.5em;
}

td {
  text-align: center;
  vertical-align: middle;
  text-align: justify;
}

.prodName,
.prodPrice {
  font-weight: 900;
}

.card-foto img {
  width: 50px;
  height: auto;
}

.far {
  font-size: 1.8em;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.form-group input {
  height: 20px;
}

#update,
#add,
#showInputs {
  width: 200px;
  height: 30px;
  margin: 5px;
  background-color: #666666;
  height: 40px;
}
#update:hover,
#add:hover,
#showInputs:hover {
  background-color: dodgerblue;
  font-weight: bold;
}
