* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-details {
  display: flex;
  width: 100%;
  height: 90vh;
}

.card {
  display: flex;
  flex-direction: row;
  height: 90vh;
  padding: 10px;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
}

.fotoCard {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 40%;
  height: 90vh;
  align-items: center;
  gap: 20px;
}

.resizeImg {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.price {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
  align-items: center;
  gap: 5px;
}

#productPrice {
  font-weight: bold;
}

#productPriceValue {
  font-size: 0.8em;
  font-weight: bolder;
}

.add-to-cart {
  text-decoration: none;
  color: #121311;
  font-weight: bolder;
  padding: 2px;
  background-color: #cdcdcd;
  border: 2px solid #666666;
  border-radius: 5px;
}

.add-to-cart:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.7em;
  text-align: justify;
  padding: 10px;
  width: 50%;
}
