* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

@media screen and (max-width: 750px) {
  .container-details,
  .containerHome,
  .adminContainer,
  .containerCart {
    font-size: 50%;
  }

  .menu {
    flex-wrap: wrap;
  }

  .product-details {
    margin-top: 30%;
  }

  .yourCart {
    margin-top: 20%;
  }

  #drop {
    margin: 5px;
    background-color: #666666;
    max-width: 20%;
    height: auto;
    font-size: 0.9em;
  }

  .footer {
    position: relative;
    bottom: 0px;
  }

  .price {
    margin-bottom: 30%;
  }

  .add-to-cart {
    font-size: 0.1em;
    height: auto;
  }
  .checkout {
    max-width: 20%;
    font-size: 0.2em;
  }
  .fas,
  .far {
    font-size: 0.7em;
  }
}

.containerHome {
  display: table;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  border-collapse: collapse;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  flex-wrap: wrap;
  gap: 0.8em;
}
/* navbar style */
.nav_menu_home {
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #121311;
  color: #cdcdcd;
}
/* details & cart nav menu */
.nav_menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #121311;
  color: #cdcdcd;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3%;
  gap: 5px;
}

.logo a {
  text-decoration: none;
  color: #cdcdcd;
}

.logo img {
  max-width: 40px;
  max-height: 40px;
}

.logo img:hover {
  transform: rotateY(360deg);
  transition-duration: 2s;
}

.title {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  flex-wrap: nowrap;
}
.menu,
.cart,
.admin {
  display: flex;
  flex-direction: row;
  padding: 0.3em;
  gap: 0.1em;
}

.menu a,
.cart a,
.admin a {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.noOfItemsInCart {
  position: relative;
  padding: 1em 0.8em 0em 0.1em;
  text-align: center;
  color: red;
  width: 0.1em;
  height: 0.1em;
  border-radius: 80%;
  font-size: 0.6em;
}

body > div > div > div.menu > div.admin > a,
body > div > div > div.menu > div.cart > a {
  text-decoration: none;
  color: #cdcdcd;
}

body > div > div > div.menu > div.admin > a:hover,
body > div > div > div.menu > div.cart > a:hover,
a:hover {
  color: dodgerblue;
}

/* filter products */

#drop {
  margin: 5px;
  background-color: #666666;
  max-width: 50%;
  height: auto;
}

#banner {
  width: 75%;
  height: auto;
}

.filterProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
}

/* cards layout */
.products-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  min-height: 100%;
  padding: 1.5%;
  justify-content: center;
  column-gap: 1%;
  row-gap: 1%;
  padding-bottom: 30%;
}

.product-card {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  max-width: 200px;
  height: auto;
  padding: 2%;
  border: 2px solid lightgrey;
  border-radius: 2%;
  background-color: white;
}

.product-card:hover {
  box-shadow: 0px 0px 5px 5px gray;
}

#name {
  align-self: flex-start;
}

.priceValue {
  font-size: 0.8em;
  font-weight: 900;
}

.product-card img {
  width: 70%;
  height: auto;
}

.details {
  width: 80%;
  color: white;
  background-color: #666666;
  border-radius: 5px;
  cursor: pointer;
}

.product-card a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
}

.product-card .details:hover,
.details a:hover {
  background-color: dodgerblue;
  font-weight: bold;
}

/* footer style */
/* footer details & cart */
.footer {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  position: fixed;
  bottom: 0px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #121311;
  text-align: justify;
  font-family: cursive;
  color: #cdcdcd;
  padding: 1% 3% 1% 3%;
  max-height: 5%;
}

/* working on footer( does not stay at bottom of page) */
.footer_home {
  display: none;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-evenly;
  align-items: center;
  background-color: #121311;
  text-align: justify;
  font-family: cursive;
  color: #cdcdcd;
  padding: 1% 3% 1% 3%;
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: 100%;
}

.contact p {
  max-width: 33%;
  font-size: 0.5em;
}

.payment {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  height: 100%;
  font-size: 0.6em;
  gap: 0.2%;
}

.transportLogo,
.paymentLogo {
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.transportLogo img {
  max-width: 10%;
  height: auto;
}

.paymentLogo img {
  max-width: 7%;
  height: auto;
}

.info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 33%;

  padding: 0.2em;
}

.project,
.madeBy {
  font-size: 0.9em;
  font-family: cursive;
  height: 0.5%;
  text-align: center;
}
