* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
}

.containerHome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
/* navbar style */
.nav_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #121311;
  color: #cdcdcd;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.logo a {
  text-decoration: none;
  color: #cdcdcd;
}

.logo img {
  max-width: 40px;
  max-height: 40px;
}

.logo img:hover {
  transform: rotateY(360deg);
  transition-duration: 2s;
}

.menu,
.cart,
.admin {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

body > div > div > div.menu > div.admin > a,
body > div > div > div.menu > div.cart > a {
  text-decoration: none;
  color: #cdcdcd;
}

body > div > div > div.menu > div.admin > a:hover,
body > div > div > div.menu > div.cart > a:hover,
a:hover {
  color: dodgerblue;
}
/* filter products */

#drop {
  margin: 5px;
  background-color: #666666;
  height: 40px;
}

#banner {
  width: 75%;
  height: auto;
}

.filterProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
}

/* cards layout */
.products-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px;
  padding-left: 15px;

  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
  padding: 5px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.product-card:hover {
  box-shadow: 0px 0px 5px 5px gray;
}

#name {
  margin: 5px;
  font-size: 0.9em;
}

.price {
  position: absolute;
  bottom: 40px;
}

.priceValue {
  font-size: 0.8em;
  font-weight: 900;
}

.product-card img {
  width: 60%;
  height: auto;
  position: absolute;
  bottom: 70px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  position: absolute;
  bottom: 5px;
  background-color: #cdcdcd;
  border-radius: 3px;
  cursor: pointer;
}

.product-card a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  position: absolute;
  bottom: 5px;
  text-decoration: none;
  color: #666666;
}

.product-card .details:hover {
  color: dodgerblue;
}
